@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
     font-family: boxley;
     src: url('/fonts/boxley.ttf');
}
@font-face {
     font-family: Kammerlander;
     src: url('/fonts/Kammerlander.otf');
}

.font-boxley{
     font-family: boxley;
}
.font-kammerlander{
     font-family: Kammerlander;
}