@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
     html {
          @apply scroll-smooth;
     }
}

@font-face {
     font-family: boxley;
     src: url('/fonts/boxley.ttf');
}

@font-face {
     font-family: Kammerlander;
     src: url('/fonts/PoiretOne-Regular.ttf');
}

.font-boxley {
     font-family: boxley;
}

.font-kammerlander {
     font-family: Kammerlander;
}